table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 2px;
    text-align: left;
}
th {
    background-color: #6495ED;
	border-bottom: 1px solid #ddd;
    color: white;
}
th a {
    color: white;
}