{% extends "batches/base.html" %}
<meta http-equiv="refresh" content="30">

{% block content %}

<h2>Batch Dashboard</h2>
<p> <a class="button button1" href="{% url 'new_batch' %}" > Create new batch </a> </p>

<table>
	<tr>
        <th> Batch No. </a> </th>
	<th> Client </th>
	<th> Order Ref. </th>
	<th> Recipe </th>
	<th> Volume (m<sup>3</sup>) </th>
	<th> Status </th>
	<th> </th>
	<th> </th>
	<th> </th>
	</tr>    
{% for batch in recent_batches_list %}
	<tr>
        <td> {{ batch }} </td>
	<td> {{ batch.client }} </td>
	<td> {{ batch.order_ref }} </td>
	<td> {{ batch.recipe }} </td>
	<td> {{ batch.volume }} </td>
	<td> {{ batch.get_status_display }} </td>
	<td> {% if batch.status == 'PEND' %} <a class="button button1" href="{% url 'edit_batch' batch.batch_no %}"> Edit </a> {% endif %} </td>
	<td> {% if batch.status != 'PEND' %} <a class="button button1" href="{% url 'batch_detail' batch.batch_no %}"> Detail </a> {% endif %} </td> 
	<td> {% if batch.status == 'COMP' %} <a class="button button1" href="{% url 'ticket' batch.batch_no %}"> Ticket </a> {% endif %} </td>
	</tr>
{% endfor %}
</table>


{% endblock %}