{% extends "batches/base.html" %}

{% block content %}

<h2>Edit Recipe</h2>

{% if message %}
<p> {{ message }} </p>
{% endif %}

{% if RecForm %}

{% if recipe_id %}
<form action="{% url 'edit_recipe' recipe_id %}" method="post">
{% else %}
<form action="{% url 'new_recipe' %}" method="post">
{% endif %}
{% csrf_token %}

<table>
<col style="width:100px"><col style="width:180px"><col style="width:180px">
<tr>
<th> Information </th> <th> </th> <th> </th>
</tr>

<tr><td> Recipe No. </td><td> {{ r.recipe_no }} </td></tr>
<tr><td> Version </td><td> {{ r.version }} </td></tr>
<tr><td> Last Edit </td><td> {{ r.create_time }} </td></tr>

{% for f in RecForm %}
<div class="fieldWrapper">
<tr>
    <td> {{ f.label_tag }} </td>
    <td> {{ f }} </td>
    <td> {{ f.errors }} </td>
</tr>
</div>
{% endfor %}
</table>

<table>
<col style="width:100px"><col style="width:180px"><col style="width:180px">
<tr>
<th> Quantities </th> <th> </th> <th> </th>
</tr>
{% for k, v in RecDetForms.items %}
<tr>
    <td> {{ k }} </td>
    <td> {{ v.quantity }} </td>
    <td> {{ v.quantity.errors }} </td>
</tr>
{% endfor %}
</table>

<table>
<tr>
    <td> 
	<input class="button button1" type="submit" value="Save" />
	</form> 
	{% if recipe_id  %}
	<form action="{% url 'delete_recipe' recipe_id %}">
    	<input class="button button1" type="submit" value="Delete" />
	</form>
	{% endif %}
    </td>
</tr>
</table>

{% endif %}


{% endblock %}
