{% extends "batches/base.html" %}

{% block content %}

<h2>Recipes</h2>

<p> <a href="{% url 'new_recipe' %}" > Create new recipe </a> </p>

<table>
	<tr>
	<th> No. </th>
	<th> Name </th>
	<th> Description </th>
	<th> Strength </th>
	<th> Slump </th>
	<th> Exp </th>
	<th> Cl Cont. </th>
	<th> Mix Time </th>
	{% for i in ing_list %}
        <th> {{ i }} </th>
	{% endfor %}
	<th> </th>
	<th> </th>
	</tr>

{% for r in recipe_data %}
	<tr>
	<td> {{ r.recipe.recipe_no }}.{{ r.recipe.version }} </td>
	<td> {{ r.recipe.name }} </td>
	<td> {{ r.recipe.description }} </td>
	<td> {{ r.recipe.get_strength_class_display }} </td>
	<td> {{ r.recipe.get_slump_class_display }} </td>
	<td> {{ r.recipe.get_exposure_class_display }} </td>
	<td> {{ r.recipe.get_cl_content_class_display }} </td>
	<td> {{ r.recipe.mix_time }} </td>
	{% for i in r.details %}
        <td> {{ i }} </td>
	{% endfor %}
	<td> <a href="{% url 'copy_recipe' r.recipe.id %}"> Copy </a> </td>
	<td> <a href="{% url 'edit_recipe' r.recipe.id %}"> Edit </a> </td>
	</tr>
{% endfor %}

</table>

{% endblock %}